.contacts__links {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
  text-decoration: none;
}

.contacts__links:hover{
  opacity: 0.4;
  transition: 0.3s;
}

@media (max-width: 1325px) {
  .contacts__links {
  }
  .contacts__links:last-child {
    margin-bottom: 0;
  }
}
