.burger__fixed-icons {
  display: flex;
  width: 130px;
  height: 130px;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
  padding:0;
  margin: 90px auto 0 auto;
}
