.about__title {
  margin: 0 0 40px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 640px) {
  .about__title {
    
  }
    
}